<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger {%thread} : %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./build/log/imaging-app.log</file>
    <append>true</append>
    <encoder>
      <charset>utf-8</charset>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{35} {%thread} : %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>imaging-app-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
      <maxHistory>60<!-- days --></maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>20MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
